<div class="burgers">
    <div class="notEatenList">
        {{!-- array of burgers to be eaten --}}
        <h3>Burgers Ready to Eat</h3>
        <ul class="uneaten">
            {{#each burgers}}
            {{/each}}
        </ul>
    </div>
    {{!-- make another class of eaten burgers --}}
</div>